<div class="container">
  <div class="row">
    <div class="col-lg-12 form-group">
      <label for="">Welcome <%= current_user.name %></label>
    </div>
    <div class="col-lg-12 form-group">
      <label>List Users</label>
      <table class="table">
        <thead>
          <th>ID</th>
          <th>User Name</th>
        </thead>
        <tbody>
          <%= render @users %>
        </tbody>
      </table>
    </div>
    <%= link_to "Return", user_path(current_user) %>
  </div>
</div>