
<div class="jumbotron jumbotron-fluid text-center">
  <div class="container">
    <h1 class="display-4">Welcome to MyBlog</h1>
  </div>
</div>

<div class="row">
	<% @posts.each do |post| %>
		<div class="col-lg-4 col-sm-12 col-md-6 mt-3">
			<h1>
				<%= post.title %>
			</h1>
			<p class="mb-0">
				<%= truncate(post.content, length: 140) %>
			</p>
			<%= link_to 'Read more', post_path(post) %>
		</div>
	<% end %>	
</div>
